/* Icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* COMMON */
body {
  height: 3000px;
  color: #333;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
.btn {
  display: inline-block;
  padding: 6px 20px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 15px;
}
.btn--light-green {
  color: #076443;
  border-color: #076443;
  transition: 0.6s;
}
.btn--light-green:hover {
  background-color: #076443;
  color: white;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width: 1100px;
  /* Inner tag 를 가운데로 몰아주기위해서. 상하 = 0. 좌우 = auto */
  margin: 0 auto;
  position: relative;
}
.strong {
  font-weight: bold;
}

header {
  background-color: #f6f5ef;
  width: 100%;
  position: fixed;
  top: 0;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
}
header > .inner {
  height: 120px;
}

/* 이미지 수직정렬 */
header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  height: 75px;
}

/* sub-menu */
header .inner .sub-menu {
  display: flex;
  position: absolute;
  top: 6px;
  right: 50px;
}

header .inner .sub-menu .sub-menu__menu {
  display: flex;
}

header .inner .sub-menu .sub-menu__menu > li {
}
header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 1px;
  height: 13px;
  background-color: #333;
  opacity: 0.1;
}

header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  color: #656565;
}
header .inner .sub-menu .sub-menu__menu > li > a:hover {
  text-decoration: underline;
}
header .inner .sub-menu .search {
  position: relative;
}

header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:hover {
  width: 200px;
}

header .inner .sub-menu .search .material-symbols-outlined {
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
}

/* main-menu */
header .inner .main-menu {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

header .inner .main-menu .item {
}

header .inner .main-menu .item:hover .item__name {
  background-color: rgb(49, 48, 48);
  text-decoration: underline;
  color: #669900;
  cursor: pointer;
}

header .inner .main-menu .item .item__name {
  font-size: 13px;
  padding: 10px 22px 34px 22px;
}

header .inner .main-menu .item .item__contents {
  /* fixed = viewport를 참조하기 때문에 left 0 하면 전체 뷰포트 왼족에 붙어버린다 */
  position: fixed;
  width: 100%;
  left: 0;
  top: 120px;
  background-color: #2c2a29;
  display: none;
}

header .inner .main-menu .item:hover .item__contents {
  display: block;
  color: #669900;
}
header .inner .main-menu .item:hover .item__contents .item__contents__menu {
  background-color: #2c2a29;
  padding: 20px 0px;
}

header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner {
  display: flex;
}
header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li {
  left: 200px;
  width: 220px;
  padding-right: 20px;
}
header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li
  > a:hover {
  text-decoration: underline;
}
header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul {
}

header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li {
  font-size: 12px;
  color: #999;
  margin: 5px 0px;
}

header
  .inner
  .main-menu
  .item:hover
  .item__contents
  .item__contents__menu
  .inner
  > li
  > ul
  > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* BADGE (바리스타,현대카드 img)*/

header .badges {
  position: absolute;
  top: 150px;
  left: calc(1100px + (100vw - 1100px) / 2);
}

header .badges .badge {
  cursor: pointer;
}

header .badges .badge img {
  width: 140px;
}

@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw - 150px);
  }
}

/* VISUAL */
.visual {
  position: relative;
  background-image: url("../image/visual_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 106% 100%;
  margin-top: 120px;
}

.visual .inner {
  position: relative;
  height: 646px;
}

.visual .inner .slogan {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  position: absolute;
  justify-content: center;
  top: 180px;
  left: -130px;
}

.visual .inner .slogan img {
  display: block;
  width: 340px;
}

.visual .inner .slogan .btn {
  position: absolute;
  top: 220px;
}

.visual .inner img {
  position: absolute;
}

.visual .inner .item-1 {
  width: 290px;
  top: 120px;
  left: 340px;
}

.visual .inner .item-2 {
  width: 310px;
  top: 208px;
  left: 538px;
}

.visual .inner .item-3 {
  width: 310px;
  top: 160px;
  left: 762px;
}

/* NOTICE */
.notice {
  position: relative;
}

.notice .notice-line {
  position: relative;
  font-weight: bold;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;
}

.notice .notice-line .bg-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex;
  align-items: center;
  color: white;
}

.notice .notice-line .inner .inner__left > h1 {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: bold;
}
.notice .notice-line .inner .inner__left > div {
  position: absolute;
  left: 80px;
  font-size: 14px;
}
.notice .notice-line .inner .inner__left > a {
  position: absolute;
  right: 20px;
}
.notice .notice-line .inner .inner__left > a > span {
  color: white;
  font-size: 36px;
  vertical-align: bottom;
}

.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
  vertical-align: bottom;
}
.notice .notice-line .inner .inner__right > h1 {
  position: absolute;
  left: 250px;
}
.notice .notice-line .inner .inner__right > a {
  position: absolute;
  right: 0;
  color: black;
}
.notice .notice-line .inner .inner__right > a > span {
  font-size: 36px;
}

.rewards {
  position: relative;
  background-color: #1e3932;
}

.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}

.rewards .inner .rewards__logo {
  display: flex;
  flex-basis: 260px;
  justify-content: center;
  align-items: center;
}

.rewards .inner .rewards__logo img {
  display: block;
  width: 176px;
}

.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register {
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8;
}

.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 27px;
}

.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 12px;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
  font-weight: bold;
}

.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login {
  color: white;
  font-weight: bold;
}
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}
.rewards
  .inner
  .rewards__items
  .rewards__items__register
  .buttons
  .btn--register:hover {
  text-decoration: underline;
}

.rewards
  .inner
  .rewards__items
  .rewards__items__card
  .buttons
  .btn--login:hover {
  text-decoration: underline;
}

.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}
.rewards .inner .rewards__items .rewards__items__card p {
  position: relative;
  font-size: 14px;
  margin-top: 20px;
  color: white;
}

.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login {
  color: white;
  font-weight: bold;
}
