/* Icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inner {
  width: 1100px;
  /* Inner tag 를 가운데로 몰아주기위해서. 상하 = 0. 좌우 = auto */
  margin: 0 auto;
  background-color: blueviolet;
  height: 120px;
  position: relative;
}

header {
  background-color: blue;
}

/* 이미지 수직정렬 */
header .inner .logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  height: 75px;
}
